{% extends 'organizerPanel/organizerPanel.html.twig' %}
{% block title %}Komandų pridėjimas{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    {% block panelName %}Komandų pridėjimas{% endblock %}
{% block panelContent %}

    <div class="row justify-content-center">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="col-lg-8 u-mt-minus">
        <div class="card mt-4">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <p class="card-text">
                    <input type="hidden" id="_hash" value="{{ app.request.attributes.get('hash') }}"/>
                    {% if teams.count != null %}
                <div class="row justify-content-center">
                    <div class="col">
                        <h1>Pridėtos komandos</h1>
                    </div>
                </div>
                {% endif %}
                {% for team in teams %}
                    <div class="row justify-content-center">
                        <div class="col">
                            <h1>{{ team.teamName }}</h1>
                        </div>
                        <div class="col d-flex align-items-center justify-content-start">
                            <button type="button" class="btn btn-danger deleteButton button button--danger"
                                    data-id="{{ team.id }}"><i class="fa fa-trash-alt"></i> Ištrinti
                            </button>
                        </div>
                    </div>
                {% endfor %}
                {% if teamsCount!=0 %}
                    {% for team in form.teams %}
                        <div class="text-danger text-left my-3">
                            {{ form_errors(team.teamName) }}
                            {{ form_errors(team.firstTeamMember) }}
                            {{ form_errors(team.secondTeamMember) }}
                            {{ form_errors(team.thirdTeamMember) }}
                        </div>
                        <p class="card-text">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                        <div class="has-float-label ">
                            {{ form_widget(team.teamName, {'attr': {'class': 'pr-1 first-input-width'}}) }}
                            {{ form_help(team.teamName) }}
                            {{ form_label(team.teamName) }}
                        </div>
                        <div class="has-float-label ml-3">
                            {{ form_widget(team.firstTeamMember, {'attr': {'class': 'second-input-width'}}) }}
                            {{ form_help(team.firstTeamMember) }}
                            {{ form_label(team.firstTeamMember) }}
                        </div>
                        <div class="has-float-label ml-3">
                            {{ form_widget(team.secondTeamMember,  {'attr': {'class': 'second-input-width'}}) }}
                            {{ form_help(team.secondTeamMember) }}
                            {{ form_label(team.secondTeamMember) }}
                        </div>
                        <div class="has-float-label ml-3">
                            {{ form_widget(team.thirdTeamMember,  {'attr': {'class': 'second-input-width'}}) }}
                            {{ form_help(team.thirdTeamMember) }}
                            {{ form_label(team.thirdTeamMember) }}
                        </div>
                        </p>
                    {% endfor %}
                    {{ form_end(form) }}
                {% else %}
                    <br>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{{ asset('build/js/deleteTeam.js') }}"></script>
{% endblock %}