{% extends 'organizerPanel/organizerPanel.html.twig' %}
{% block title %}Komandų pridėjimas{% endblock %}
    {% block panelName %}Komandų pridėjimas{% endblock %}
{% block panelContent %}
    <div class="container container-index">
        <div class="row justify-content-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card mt-4 form__card bg-light">
                    <div class="card-body">
                        <h3 class="card-title">Pridėti komandas </h3>
                        <input type="hidden" id="_hash" value="{{ app.request.attributes.get('hash') }}"/>
                        {% if teams.count != null %}
                            <ul class="team-list px-1">
                                <div class="team-list__title">
                                    <p>Pridėtos komandos</p>
                                </div>
                                {% for team in teams %}
                                <div class="row">
                                    <div class="col-6 pr-1">
                                        <li class="team-list__element ">{{ team.teamName }}
                                        </li>
                                    </div>
                                    <div class="col-6 d-felx align-items-center">
                                            <span data-id="{{ team.id }}" class="fas fa-times team-list__delete"></span>
                                    </div>
                                    </div>
                                    {% endfor %}
                            </ul>
                        {% endif %}
                        {% if teamsCount!=0 %}
                            {% for team in form.teams %}
                                <div class="text-danger text-left my-3">
                                    {{ form_errors(team.teamName) }}
                                    {{ form_errors(team.firstTeamMember) }}
                                    {{ form_errors(team.secondTeamMember) }}
                                    {{ form_errors(team.thirdTeamMember) }}
                                </div>
                                <p class="card-text">
                                    {{ form_start(form) }}
                                <div class="has-float-label ">
                                    {{ form_widget(team.teamName, {'attr': {'class': 'pr-1 first-input-width form__input'}}) }}
                                    {{ form_help(team.teamName) }}
                                    {{ form_label(team.teamName) }}
                                </div>
                                <div class="has-float-label ml-3">
                                    {{ form_widget(team.firstTeamMember, {'attr': {'class': 'second-input-width form__input'}}) }}
                                    {{ form_help(team.firstTeamMember) }}
                                    {{ form_label(team.firstTeamMember) }}
                                </div>
                                <div class="has-float-label ml-3">
                                    {{ form_widget(team.secondTeamMember,  {'attr': {'class': 'second-input-width form__input'}}) }}
                                    {{ form_help(team.secondTeamMember) }}
                                    {{ form_label(team.secondTeamMember) }}
                                </div>
                                <div class="has-float-label ml-3">
                                    {{ form_widget(team.thirdTeamMember,  {'attr': {'class': 'second-input-width form__input'}}) }}
                                    {{ form_help(team.thirdTeamMember) }}
                                    {{ form_label(team.thirdTeamMember) }}
                                </div>
                            {% endfor %}
                            {{ form_end(form) }}
                        {% else %}
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{{ asset('build/js/deleteTeam.js') }}"></script>
{% endblock %}