{% extends 'organizer/stepper/competition_wizard.html.twig' %}
{% block title %}Sektorių priskyrimas{% endblock %}
{% block panelName %}Sektorių priskyrimas{% endblock %}
{% block panelContent %}
    <div class="container container-index">
        <div class="row justify-content-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="row justify-content-center d-flex">
            <div class="col-lg-10">
                <div class="card mt-4 form__card bg-light">
                    <div class="card-body">
                        <h3 class="card-title">Priskirti sektorius </h3>
                        {% for key,team in form.teams %}
                            {% set label_name=teams[key].teamName~' sektorius'%}
                            <div class="text-danger text-left my-3">
                            {{ form_errors(team.sectorNr) }}
                        </div>
                        <p class="card-text">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                                <p class="form-team-name first-input-width">{{ teams[key].teamName }} </p>
                                <div class="has-float-label ml-3 ">
                                    {{ form_widget(team.sectorNr, {'attr':{'placeholder': label_name ,'class': 'second-input-width form__input'}}) }}
                                    {{ form_help(team.sectorNr) }}
                                    {{ form_label(team.sectorNr,null,{'label': label_name}, {'attr':{'class': 'form__label'}}) }}
                                </div>
                            {% endfor %}
                            {{ form_row(form.save) }}
                            {{ form_end(form) }}
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


