{% extends 'organizerPanel/organizerPanel.html.twig' %}
{% block title %}Sektorių priskyrimas{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block panelName %}Sektorių priskyrimas{% endblock %}
{% block panelContent %}
    <div class="container container-index">
        <div class="row justify-content-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="col-md-8 u-mt-minus">
                <div class="card mt-4 form__card ">
                    <div class="card-body">
                        <div class="form">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <h5> Komanda</h5>
                                </div>
                                <div class="col-6">
                                    <h5>Sektorius</h5>
                                </div>
                            </div>
                            {% for key,team in form.teams %}
                            <div class="text-danger text-left my-3">
                                {{ form_errors(team.sectorNr) }}
                            </div>
                            <p class="card-text">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                            <div class="row">
                                <div class="col-6 pt-3 card-team_name px-8">
                                        <h4>{{ teams[key].teamName }} </h4>
                                </div>
                                <div class="col-6">
                                    <div class="has-float-label ">
                                        {{ form_widget(team.sectorNr) }}
                                        {{ form_help(team.sectorNr) }}
                                        {{ form_label(team.sectorNr) }}
                                    </div>
                                </div>
                            </div>
                            </p>
                        </div>
                        {% endfor %}
                        {{ form_row(form.save) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


