{% extends 'organizerPanel/organizerPanel.html.twig' %}
{% block title %}Results{{ parent() }}{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block panelName %}Sektorių pridėjimas{% endblock %}
{% block panelContent %}
    <div class="container container-index">
        <div class="row justify-content-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="col-md-8 u-mt-minus">
                <div class="card mt-4 form__card ">
                    <div class="card-body">
                        <h3 class="card-title justify-content-center">Sektorių pridėjimas</h3>
                        <div class="form">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <h5> Komanda</h5>
                                </div>
                                <div class="col-6">
                                    <h5>Sektorius</h5>
                                </div>
                            </div>
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {% for key,team in form.teams %}
                                <div class="row">
                                    <div class="col-6">
                                        {{ teams[key].teamName }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_row(team.sectorNr) }}
                                    </div>
                                </div>
                            {% endfor %}
                            {{ form_row(form.save) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


