{% extends 'base.html.twig' %}
{% import 'macro/index.macro.html.twig' as myMacros %}
{% block title %}Renginiai {{ parent() }}{% endblock %}
{% set picture = 0 %}
{% set futureCompetition=1 %}

{% block body %}
    <div class="page-name-container">
        <h2>Varžybos</h2>
    </div>
<section id="previous-events" class=" u-pb-5">
        <div class="container">
            <h2 class="heading heading--blue-border heading--center">Būsimos varžybos</h2>
            <div class="row">
                {% if futureCompetitions != null %}
                    {% for competition in futureCompetitions %}
                        <div class="event d-flex justify-content-center flex-wrap">
                            {{ myMacros.printCompetitions(
                                futureCompetitions,
                                picture,
                                futureCompetition
                            ) }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="d-flex justify-content-center align-items-center">
                        <h6>Šiuo metu būsimų varžybų nėra.</h6>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="previous-events" class=" u-pb-5">
        <div class="container">
            <h2 class="heading heading--blue-border heading--center" id="competitions">Praėjusios varžybos</h2>
            <div class="row">
                <div class="col-lg-1">
                    <h1 class="my-4"></h1>
                    <div class="list-group px-0">
                        {% for years in expiredCompetitionsYears %}
                            <h2><a href="/home/competitions/{{ years['1'] }}#competitions"
                                   class="list-group-item u-bg-main-text">{{ years['1'] }}</a>
                            </h2>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-11 px-0">
                    <div class="event d-flex justify-content-center flex-wrap">
                        {{ myMacros.printCompetitions(
                            expiredCompetitions,
                            picture
                        ) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}