{% extends 'base.html.twig' %}

{% block title %}Renginiai {% endblock %}

{% block body %}
    <div class="page-name-container">
        <h2>Varžybos</h2>
    </div>
    <section id="previous-events" class=" u-pb-5">
        <div class="container">
            <h2 class="heading heading--blue-border heading--center">Būsimos varžybos</h2>
            <div class="row">
                <div class="event-card-container d-flex justify-content-center flex-wrap">
                    {% if futureCompetitions != null %}
                    {% for competition in futureCompetitions %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ competition['name'] }}</h4>
                            <p class="card-text"> <i class="fa fa-calendar-alt"> </i>{{ competition['year'] }} {{ competition['month']}} {{ competition['days'] }}</p>
                            <p class="card-text"> <i class="fa fa-map-marker-alt"> </i> {{ competition['location'] }}</p>
                            <div class="card-button-container d-flex justify-content-center">
                                <a href="{{ competition['link'] }}">Facebook nuoroda čia!</a>
                            </div>                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="d-flex justify-content-center align-items-center">
                        <h6>Šiuo metu būsimų varžybų nėra.</h6>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="previous-events" class=" u-pb-5">
        <div class="container">
            <h2 class="heading heading--blue-border heading--center">Praėjusios varžybos</h2>
            <div class="row">
                <div class="event-card-container d-flex justify-content-center flex-wrap">
                    {% for competition in expiredCompetitions %}
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">{{ competition['name'] }}</h4>
                            <p class="card-text"> <i class="fa fa-calendar-alt"> </i>{{ competition['year'] }} {{ competition['month'] }} {{ competition ['days'] }}</p>
                            {% if competition['location']!=null %}
                            <p class="card-text"> <i class="fa fa-map-marker-alt"> </i> {{ competition['location'] }}</p>
                            {% endif %}
                            <div class="event-button-container d-flex flex-wrap">
                                <div class="col-6 px-0 text-left">
                                    <a href="/results/{{ competition['id'] }}" class="btn button">Rezultatai</a>
                                </div>
                                {% if competition['link'] %}
                                    <div class="col-6 text-right">
                                        <a href="{{ competition['link'] }}">
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                </div>
                    {% endfor %}
            </div>
        </div>
    </section>





{% endblock %}