{% extends 'base.html.twig' %}

{% block title %}PHookP{{ parent() }}{% endblock %}

{% block body %}
    {#{{ include ("navBar/navBar.html.twig") }}#}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 align-content-lg-center">
                <div class="card mt-4 card-shadow">

                    <div class="card-body">
                        <h3 class="card-title">
                            Apie mus
                        </h3>
                        <p class="card-text">Tai ....</p>
                    </div>
                </div>
                <div class="card my-4 card-shadow">
                    <div class="card-body">
                        <h4 class="card-title text-truncate">Vykstantys renginiai:</h4>
                        {% for competition in competitions %}
                            <h5 class="card-subtitle mb-2 text-muted">{{ competition["competition_name"] }}</h5>
                            <a href="/home/competition/{{ competition["id_competition"] }}" class="card-link">Rezultatai</a>
                            <br>
                            <small class="text-muted">Data: {{ competition["competition_date"] }}</small>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
                <div class="card my-4 card-shadow">
                    <div class="card-body">
                        <h4 class="card-title text-truncate">Būsimi renginiai: </h4>
                        {% for competition in competitions %}
                            <h5 class="card-subtitle mb-2 text-muted">{{ competition["competition_name"] }}</h5>
                            <small class="text-muted">Data: {{ competition["competition_date"] }}</small>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
                <div class="card my-4 card-shadow">
                    <div class="card-body">
                        <h4 class="card-title text-truncate">Pasibaigę renginiai: </h4>
                        {% for competition in competitions %}
                            <h5 class="card-subtitle mb-2 text-muted">{{ competition["competition_name"] }}</h5>
                            <a href="/home/competition/{{ competition["id_competition"] }}" class="text-secondary">Rezultatai</a>
                            <br>
                            <small class="text-muted">Data: {{ competition["competition_date"] }}</small>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}