{% extends 'base.html.twig' %}
{% import 'macro/index.macro.html.twig' as myMacros %}
{% block title %}Sportinė karpių žūklė {% endblock %}
{% set picture = 1 %}
{% block body %}
    <div class="container-fluid home-start">

        <div class="row">
            <div class="home-left-side col-lg-6 col-sm-12 pb-3">
                <div class="start-left-side-wrapper d-flex flex-column ">
                    <div class="main-header-container">
                        <h1 class="heading heading--blue-border ">Sportinė karpių žūklė</h1>
                    </div>
                    <div class="event">
                        {% if competitions['goingCompetitions'] is defined %}
                        <h3 class="event__heading mb-4">Šiuo metu vyksta:</h3>
                        {{ myMacros.printCompetitions(
                            competitions['goingCompetitions'],
                            picture
                        )
                        }}
                        {% endif %}
                        {% if competitions['expiredCompetitions'] is defined %}
                            <h3 class="event__heading mb-4">Paskutinės varžybos:</h3>
                            {{ myMacros.printCompetitions(
                                competitions['expiredCompetitions'],
                                picture
                            )
                            }}
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="home-right-side col-lg-6 col-sm-12 .d-sm-none .d-md-block">

            </div>
        </div>
    </div>



    {#<div class="row justify-content-center">#}
    {#<div class="col-lg-10 align-content-lg-center">#}

    {#<div class="card my-4 card-shadow">#}
    {#<div class="card-body">#}
    {#<h4 class="card-title text-truncate">Vykstantys renginiai:</h4>#}
    {#{% for competition in competitions %}#}
    {#<h5 class="card-subtitle mb-2 text-muted">{{ competition["competition_name"] }}</h5>#}
    {#<a href="/home/competition/{{ competition["id_competition"] }}"#}
    {#class="card-link">Rezultatai</a>#}
    {#<br>#}
    {#<small class="text-muted">Data: {{ competition["competition_date"] }}</small>#}
    {#<hr>#}
    {#{% endfor %}#}
    {#</div>#}
    {#</div>#}
    {#<div class="card my-4 card-shadow">#}
    {#<div class="card-body">#}
    {#<h4 class="card-title text-truncate">Būsimi renginiai: </h4>#}
    {#{% for competition in competitions %}#}
    {#<h5 class="card-subtitle mb-2 text-muted">{{ competition["competition_name"] }}</h5>#}
    {#<small class="text-muted">Data: {{ competition["competition_date"] }}</small>#}
    {#<hr>#}
    {#{% endfor %}#}
    {#</div>#}
    {#</div>#}
    {#<div class="card my-4 card-shadow">#}
    {#<div class="card-body">#}
    {#<h4 class="card-title text-truncate">Pasibaigę renginiai: </h4>#}
    {#{% for competition in competitions %}#}
    {#<h5 class="card-subtitle mb-2 text-muted">{{ competition["competition_name"] }}</h5>#}
    {#<a href="/home/competition/{{ competition["id_competition"] }}" class="text-secondary">Rezultatai</a>#}
    {#<br>#}
    {#<small class="text-muted">Data: {{ competition["competition_date"] }}</small>#}
    {#<hr>#}
    {#{% endfor %}#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
{% endblock %}