{% extends 'base.html.twig' %}

{% block title %}Sportinė karpių žuklė{{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid home-start">


        <div class="row">
            <div class="home-left-side col-lg-6 col-sm-12">
                <div class="start-left-side-wrapper d-flex flex-column ">
                    <div class="main-header-container">
                        <h1 class="heading heading--blue-border ">Sportinė karpių žuklė</h1>
                    </div>
                    <div class="event">
                        {% if goingCompetitions %}
                            <h3 class="event__heading">Šiuo metu vyksta:</h3>
                            {% for competition in goingCompetitions %}
                                <div class="row">
                                    <div class="col-lg-6 col-m-6 col-sm-6 mobile-event">
                                        <h2 class="event__name">{{ competition['name'] }}</h2>
                                        {% if competition['location']!= null %}
                                        <div class="event__place">
                                            <i class="fa  fa-map-marker-alt"></i> <span class="ml-2">{{ competition['location'] }}</span>
                                        </div>
                                        {% endif %}
                                        <div class="event__date"><i class="fa fa-calendar-alt"></i> <span
                                                    class="ml-2">{{ competition['startDate'] }}
                                                - {{ competition['finishDate'] }}</span>
                                        </div>
                                        <a href="/results/{{ competition['id'] }}">Rezultatai</a>
                                        <br>
                                        {% if competition['link'] %}
                                            <a href="{{ competition['link'] }}">Facebook nuoroda čia!</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% elseif futureCompetition %}
                                <h3 class="event__heading">Artimiausiu metu vyks:</h3>
                                    <div class="row">
                                        <div class="col-lg-6 col-m-6 col-sm-6 mobile-event">
                                            <h2 class="event__name">{{ futureCompetition['name'] }}</h2>
                                            {% if futureCompetition['location']!=null %}
                                            <div class="event__place">
                                                <i class="fa  fa-map-marker-alt"></i> <span
                                                        class="ml-2">Kauno Marios</span>
                                            </div>
                                            {% endif %}
                                            <div class="event__date"><i class="fa fa-calendar-alt"></i> <span
                                                        class="ml-2">{{ futureCompetition['startDate'] }}
                                                    - {{ futureCompetition['finishDate'] }}</span>
                                            </div>
                                            {% if futureCompetition['link'] %}
                                                <a href="{{ futureCompetition['link'] }}">Facebook nuoroda čia!</a>
                                            {% endif %}
                                        </div>
                                </div>
                                {% endif %}
                                <h3 class="event__heading">Paskutinės varžybos: </h3>
                                <div class="row">
                                    {% for competition in expiredCompetitions %}
                                        <div class="col-lg-6 col-m-6 col-sm-6 mobile-event">
                                            <h2 class="event__name">{{ competition['name'] }}</h2>
                                            {% if competition['location'] != null %}
                                            <div class="event__place">
                                                <i class="fa  fa-map-marker-alt"></i> <span
                                                        class="ml-2">{{ competition['location'] }}</span>
                                            </div>
                                            {% endif %}
                                            <div class="event__date"><i class="fa fa-calendar-alt"></i> <span
                                                        class="ml-2">{{ competition['startDate'] }}
                                                    - {{ competition['finishDate'] }}</span>
                                            </div>
                                            <a href="/results/{{ competition['id'] }}">Rezultatai</a>
                                            <br>
                                            {% if competition['link'] %}
                                                <a href="{{ competition['link'] }}">Facebook nuoroda čia!</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div></div>
                    {#<div class="event mt-3">#}
                        {#<div class="row">#}
                            {#<div class="col-lg-12 mt-4 pb-2">#}
                                {#<h2 class="event__name">Mūsų partneriai</h2>#}
                                {#<img src="{{ asset('images/partneriai/alex_baits.png ') }}" alt="">#}
                                {#<img src="{{ asset('images/partneriai/siprakfishing.png ') }}" alt="">#}
                                {#<img src="{{ asset('imag es/partneriai/zvejokliai.lt.png') }}" alt="">#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                </div>
            </div>
            <div class="home-right-side col-lg-6 col-sm-12 .d-sm-none .d-md-block">

            </div>
        </div>
    </div>



    {#<div class="row justify-content-center">#}
    {#<div class="col-lg-10 align-content-lg-center">#}

    {#<div class="card my-4 card-shadow">#}
    {#<div class="card-body">#}
    {#<h4 class="card-title text-truncate">Vykstantys renginiai:</h4>#}
    {#{% for competition in competitions %}#}
    {#<h5 class="card-subtitle mb-2 text-muted">{{ competition["competition_name"] }}</h5>#}
    {#<a href="/home/competition/{{ competition["id_competition"] }}"#}
    {#class="card-link">Rezultatai</a>#}
    {#<br>#}
    {#<small class="text-muted">Data: {{ competition["competition_date"] }}</small>#}
    {#<hr>#}
    {#{% endfor %}#}
    {#</div>#}
    {#</div>#}
    {#<div class="card my-4 card-shadow">#}
    {#<div class="card-body">#}
    {#<h4 class="card-title text-truncate">Būsimi renginiai: </h4>#}
    {#{% for competition in competitions %}#}
    {#<h5 class="card-subtitle mb-2 text-muted">{{ competition["competition_name"] }}</h5>#}
    {#<small class="text-muted">Data: {{ competition["competition_date"] }}</small>#}
    {#<hr>#}
    {#{% endfor %}#}
    {#</div>#}
    {#</div>#}
    {#<div class="card my-4 card-shadow">#}
    {#<div class="card-body">#}
    {#<h4 class="card-title text-truncate">Pasibaigę renginiai: </h4>#}
    {#{% for competition in competitions %}#}
    {#<h5 class="card-subtitle mb-2 text-muted">{{ competition["competition_name"] }}</h5>#}
    {#<a href="/home/competition/{{ competition["id_competition"] }}" class="text-secondary">Rezultatai</a>#}
    {#<br>#}
    {#<small class="text-muted">Data: {{ competition["competition_date"] }}</small>#}
    {#<hr>#}
    {#{% endfor %}#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
{% endblock %}