{% extends 'base.html.twig' %}
{% block title %}Results{{ parent() }}{% endblock %}
{% block body %}
    {{ include ('home/navBarOrganizer.html.twig') }}
    <div class="container container-index">
        <div class="row">
            <div class="col-md-9">
                <div class="card mt-4 card-shadow">
                    <div class="card-body">
                        <h3 class="card-title">Sektorių pridėjimas</h3>
                        <p class="card-text">
                        <div class="form">
                            <table class="table">
                                <tr>
                                    <th>
                                        Komanda
                                    </th>
                                    <th>
                                        Sektorius
                                    </th
                                    {% for value in event %}
                                    {{ form_start(form) }}
                                    {{ form_errors(form) }}
                                <tr>
                                    <th>{{ value["commandName"] }}</th>
                                    <th>{{ form_row(form.sectorId[loop.index0]) }}</th>
                                </tr>

                                {% endfor %}
                                {{ form_widget(form.save) }}
                            </table>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}