{% extends 'base.html.twig' %}

{% block title %}Rezultatai {% endblock %}

{% block body %}
    <div class="page-name-container">
        <h2>Renginio {{ competition.CompetitionName}} rezultatai</h2>
    </div>
    <div class="container mt-5 ">

        <div class="row d-flex flex-md-row justify-content-center">
            {% include "results/overview_table.html.twig" %}
        </div>

        <div class="row table-container mb-5">
            <div class="table-responsive-md">
                <table class="results-table mx-auto">
                    <thead class="results-table__header">
                        <tr class="results-table__row--th">
                            <th scope="col"  class="results-table__cell results-table__cell--th text-center">
                                #
                            </th>
                            <th scope="col" class="results-table__cell results-table__cell--th">
                                Komanda
                            </th>
                            <th scope="col" class="results-table__cell results-table__cell--th results-table__cell--rotate">
                                <p class="mb-0">Sektorius</p>
                            </th>
                            {% for w in 0..4 %}
                                <th scope="col" class="results-table__cell results-table__cell--th d-none d-md-table-cell">
                                    TOP {{ loop.index }} (kg)
                                </th>
                            {% endfor %}
                            <th scope="col" class="results-table__cell results-table__cell--th">
                                Bendras svoris (kg)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in results['teamResults'] %}
                        <tr data-results-top5="{{ result['top5']|json_encode }}" data-team-name="{{ result['team'].teamName }}"
                            class="js-results-accessor results-table__row {% if loop.index == 3 %}results-table__row--border-bottom{% endif %}">
                            <td class="text-center">
                                {% if loop.index <= 3 %}
                                    <i class="fas fa-trophy u-font-24
                                    {% if loop.index == 1 %}
                                        u-text-gold
                                    {% elseif loop.index == 2 %}
                                        u-text-silver
                                    {% elseif loop.index == 3 %}
                                        u-text-bronze
                                    {% endif %}
                                        "></i>
                                {% else %}
                                    {{ loop.index }}
                                {% endif %}
                            </td>
                            <td class="results-table__cell">
                                {{ result['team'].teamName }}
                            </td>
                            <td class="results-table__cell">
                                {{ result['team'].sectorNr }}
                            </td>
                            {% for w in 0..4 %}
                                <td class="d-none d-md-table-cell results-table__cell">
                                    {% if result['top5'][w] is defined %}
                                        {{ result['top5'][w]}}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td class="u-text-bold results-table__cell">
                                {{ result['totalWeigh'] }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script src="{{ asset('build/js/results.js') }}"></script>
{% endblock %}
