{% extends 'base.html.twig' %}

{% block title %}Rezultatai {{ parent() }}{% endblock %}

{% block body %}
    <div class="page-name-container">
        <h2>Renginio {{ competition.CompetitionName}} rezultatai</h2>
    </div>
    <div class="container mt-5 ">

        <div class="row d-flex flex-md-row justify-content-center">
            <div class="card info-card p-3 overview-table">
                <div class="card-body">
                    <h4 class="card-title">Big fish <i class="fa fa-fish"></i></h4>
                    <p class="card-text">
                     Didžiausia žuvis:<i
                                class="u-text-bold"> {{ results['bigFish']['weigh'] }} kg</i>
                    <p class="card-text"> Didžiausią žuvį pagavo: <i
                                class="u-text-bold">{{ results['bigFish']['team'] }}</i></p>
                    <p class="card-text"> Bendras žuvų svoris: <i
                                class="u-text-bold">{{ results['totalWeigh'] }} kg</i></p>
                    <p class="card-text"> Bendras žuvų skaičius: <i
                                class="u-text-bold">{{ results['totalCount'] }} vnt.</i></p>
                </div>
                </div>

        </div>

        <div class="row table-container mb-5">
            <div class="table-responsive-md">
                <table class="results-table mx-auto">
                    <thead class="results-table__header">
                        <tr class="results-table__row--th">
                            <th scope="col"  class="results-table__cell results-table__cell--th text-center">
                                #
                            </th>
                            <th scope="col" class="results-table__cell results-table__cell--th">
                                Sektorius
                            </th>
                            <th scope="col" class="results-table__cell results-table__cell--th">
                                Komanda
                            </th>
                            {% for w in 0..4 %}
                                <th scope="col" class="results-table__cell results-table__cell--th d-none d-md-table-cell">
                                    TOP {{ loop.index }} (kg)
                                </th>
                            {% endfor %}
                            <th scope="col" class="results-table__cell results-table__cell--th">
                                Bendras svoris (kg)
                            </th>
                            {#<th scope="col" class="mdl-data-table__cell--non-numeric">
                                Iš viso žuvų
                            </th>#}
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in results['teamResults'] %}
                        <tr data-results-top5="{{ result['top5']|json_encode }}" data-team-name="{{ result['team'].teamName }}"
                            class="js-results-accessor results-table__row {% if loop.index <= 3 %}results-table__row--highlight{% endif %}">
                            <td class="text-center">
                                {% if loop.index <= 3 %}
                                    <i class="fas fa-trophy
                                    {% if loop.index == 1 %}
                                        u-text-gold
                                    {% elseif loop.index == 2 %}
                                        u-text-silver
                                    {% elseif loop.index == 3 %}
                                        u-text-bronze
                                    {% endif %}
                                        "></i>
                                {% else %}
                                    {{ loop.index }}
                                {% endif %}
                            </td>
                            <td class="results-table__cell">
                                {{ result['team'].sectorNr }}
                            </td>
                            <td class="results-table__cell">
                                {{ result['team'].teamName }}
                            </td>
                            {% for w in 0..4 %}
                                <td class="d-none d-md-table-cell results-table__cell">
                                    {% if result['top5'][w] is defined %}
                                        {{ result['top5'][w]}}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td class="u-text-bold results-table__cell">
                                {{ result['totalWeigh'] }}
                            </td>
                            {#<td class="u-text-bold">
                                {{ result['totalCount'] }}
                            </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script src="{{ asset('build/js/results.js') }}"></script>
{% endblock %}
