{% extends 'base.html.twig' %}

{% block title %}Rezultatai{% endblock %}

{% block body %}
    <div class="page-name-container">
        <h2>Renginio {{ competition.CompetitionName}} rezultatai</h2>
    </div>
    <div class="container mt-5 px-0">

        <div class="row mx-0 d-flex flex-md-row justify-content-center">
            {% include "results/overview_table.html.twig" %}
        </div>
        <div class="row table-responsive mx-0">
            <table class="results-table mx-auto">
                <thead class="results-table__header">
                <tr class="tr--border-bottom--white d-none d-md-table-row results-table__row--th">
                    <th colspan="3"></th>
                    {% for w in 0..competition.CompetitionWeighingsCount-1 %}
                        <th colspan="2" scope="col" class="results-table__cell results-table__cell--th th--border--white text-center">
                            Svėrimas #{{ w+1 }}
                        </th>
                    {% endfor %}
                    <th></th>
                    <th></th>
                </tr>
                <tr class="results-table__row--th">
                    <th scope="col"  class="results-table__cell results-table__cell--th">
                        #
                    </th>
                    <th scope="col" class="results-table__cell results-table__cell--th">
                        Komanda
                    </th>
                    <th scope="col" class="results-table__cell results-table__cell--th results-table__cell--rotate">
                        <p class="mb-0">Sektorius</p>
                    </th>
                    {% for w in 0..competition.CompetitionWeighingsCount-1 %}
                        <th scope="col" class="results-table__cell results-table__cell--th d-none d-md-table-cell">
                           Svoris (kg)
                        </th>
                        <th scope="col" class="results-table__cell results-table__cell--th d-none d-md-table-cell">
                            Vnt.
                        </th>
                    {% endfor %}
                    <th scope="col" class="results-table__cell results-table__cell--th">
                        Bendras svoris (kg)
                    </th>
                    <th scope="col" class="results-table__cell results-table__cell--th">
                        Iš viso žuvų
                    </th>
                </tr>
                </thead>
                <tbody>
                    {% for result in results['teamResults'] %}
                        <tr data-results-total="{{ result['weighings']|json_encode }}"
                            data-team-name="{{ result['team'].teamName }}"
                            class="js-results-accessor results-table__row {% if loop.index == 3 %}results-table__row--border-bottom{% endif %}">
                            <td class="text-center">
                                {% if loop.index <= 3 %}
                                    <i class="fas fa-trophy u-font-24
                                    {% if loop.index == 1 %}
                                        u-text-gold
                                    {% elseif loop.index == 2 %}
                                        u-text-silver
                                    {% elseif loop.index == 3 %}
                                        u-text-bronze
                                    {% endif %}
                                        "></i>
                                {% else %}
                                    {{ loop.index }}
                                {% endif %}
                            </td>
                            <td class="results-table__cell">
                                {{ result['team'].teamName }}
                            </td>
                            <td class="results-table__cell">
                                {{ result['team'].sectorNr }}
                            </td>

                            {% for w in 0..competition.CompetitionWeighingsCount-1 %}
                                <td class="d-none d-md-table-cell results-table__cell results-table__cell--border-left">
                                    {% if result['weighings'][w] is defined %}
                                        {{ result['weighings'][w]['totalWeigh']}}
                                    {% endif %}
                                </td>
                                <td class="d-none d-md-table-cell results-table__cell results-table__cell--border-right">
                                    {% if result['weighings'][w] is defined %}
                                        {{ result['weighings'][w]['fishCount'] }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td class="u-text-bold results-table__cell">
                                {{ result['totalWeigh'] }}
                            </td>
                            <td class="u-text-bold results-table__cell">
                                {{ result['totalCount'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <script src="{{ asset('build/js/results.js') }}"></script>
{% endblock %}
