{% extends 'base.html.twig' %}
{% block title %}Create event {{ parent() }}{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="page-name-container">
        <h2>Organizuoti varžybas</h2>
    </div>
    <div class="container container-index">
        <div class="row justify-content-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card mt-4 form__card bg-light">
                    <div class="card-body">
                        <h3 class="card-title">Renginio sukūrimas </h3>
                        <p class="card-text">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            {{ form_row(form.competitionOrganiser) }}
                            {{ form_row(form.competitionOrganiserEmail) }}
                            {{ form_row(form.competitionName) }}
                            {{ form_row(form.competitionDate) }}
                            {{ form_row(form.competitionDuration) }}
                            {{ form_row(form.competitionType) }}
                            {{ form_row(form.competitionTeamsCount) }}
                            {{ form_row(form.competitionWeighingsCount) }}
                            {{ form_row(form.competitionLink) }}
                            {{ form_row(form.competitionRules) }}
                            {{ form_row(form.save) }}
                            {{ form_end(form) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}