{% extends 'organizerPanel/organizerPanelStarted.html.twig' %}
{% block title %}Create event {{ parent() }}{% endblock %}
{% block panelName %}  Sverimo nr. {{ app.request.attributes.get('weighingNr') }} rezultatai {% endblock %}
{% block panelContent %}
    {% set hash = app.request.attributes.get('hash') %}
    {% set teamId = app.request.attributes.get('teamId') %}
    {% set weighing = app.request.attributes.get('weighingNr') %}
    {#
    TODO
        sverimu juosta ir apatinis row su 'Kitas sektorius' ir 'Issaugoti' mygtukais turi but statinis (visada matomi)
        sektoriai turi scrollintis atskirai nuo rezultatu input fieldu containerio
    #}
    <div class="container">
        {#{{ dump(app.request.uri) }}#}
            <div class="card col-lg-12 u-mt-minus form__card bg-light pl-0">

                <div class="card-body px-0 p-0">
                    {{ form_start(form) }}
                    <div class="row mx-0">
                        <div class="col-4 col-sm-3 col-md-2 col-lg-2 p-0" >
                            <div class="sector-number-container">
                            {% for team in teams %}
                                <a href="{{ path('organizerResults',
                                    {'hash': app.request.attributes.get('hash'),
                                          'teamId': team.Id,
                                          'weighingNr': app.request.attributes.get('weighingNr')}) }} "
                                   class="sector__link"
                                   >
                                    <div class="sector-button {{ app.request.get('teamId') == team.Id ? 'sector-button--active' }}">

                                        <h3 class="text-center">{{ team.sectorNr }}</h3>
                                        <div class="text-center">Sektorius</div>
                                    </div>
                                </a>
                            {% endfor %}
                            </div>
                        </div>

                        <div class="col d-flex flex-wrap results-entry-container pt-3">

                            {% for result in form.results %}
                                <div class="m-0">
                                    {{ form_row(result.weigh, {'attr': {'placeholder': 'Žuvis (g.)', 'class': 'text-box text-box--results'}}) }}
                                    <div class="ml-1">
                                        {{ form_row(result.specialFish, {'attr': {'class': 'check-box'}}) }}
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-primary btn-icon--round text text-white d-flex justify-content-center align-items-center" id="addButton">
                               <span>+</span>
                            </button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-12 d-flex justify-content-center pb-2">
                            <button class="btn button button--square mr-1">Kitas sektorius >></button>
                            <button type="submit" class="btn button button--square " id="weighing_submit" name="weighing[submit]">Išsaugoti</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
    </div>
    <script src="{{ asset('build/js/resultsForm.js') }}"></script>
{% endblock %}