{% extends 'no_nav_base.html.twig' %}
{% import 'macro/panel.macro.html.twig' as myMacros %}
{% block title %}Organizatorius{{ parent() }}{% endblock %}
{% block body %}
    {% if teamId is not defined %}
        {% set teamId = null %}
    {% endif %}
    {% if weighingNr is not defined %}
        {% set weighingNr = null %}
    {% endif %}
    {% if createTeam is not defined %}
        {% set createTeam = null %}
    {% endif %}
    {% if isTeam is not defined %}
        {% set isTeam = null %}
    {% endif %}
    <div class="container-fluid container-index u-no-padding">
        <div class="row justify-content-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="page-name-container organizer-name-container u-no-mt ">
            <h2> {% block panelName %}Organizatoriaus panelė{% endblock %} </h2>
        </div>
        <div class="row justify-content-center panel-container">
            <div class="side-bar">
                <div class="sidebar-header">

                </div>
                <div class="list-group">
                    {{ myMacros.printMenu(
                        createTeam, isTeam, hash, teamId, weighingNr
                    ) }}

                </div>
            </div>
            <div class="col-lg-10 panel__content d-flex justify-content-center">
                {% block panelContent %}


                    <div class="row justify-content-center">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-8 u-mt-minus">
                        <div class="card mt-4">
                            <div class="card-body">
                                <h3 class="card-title"></h3>
                                <p class="card-text">
                                <div class="row justify-content-center">
                                    <div class="col">
                                        <h2>Sveiki atvykę į organizatoriaus panelę!</h2>
                                        <h3>Naudojimo instrukcija :</h3>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col">
                                        <ol>
                                            <li><h6>Prieš pradedant varžybas, galite tik įvesti visų komandų,
                                                    dalyvaujančių varžybose duomenis . </h6>
                                                <ul>
                                                    <li> Komanda privalo turėti komandos pavadinimą ir bent vieną
                                                        komandos narį.
                                                    </li>
                                                    <li> Po pridėjimo turite galimybę ištrinti komandą.</li>
                                                </ul>
                                            </li>
                                            <li><h6>Sektorių priskyrimas komandoms reiškia varžybų pradžią. </h6>
                                                <ul>
                                                    <li>Prie kiekvienos komandos įrašykite sektorius, kuriuos išsitraukė
                                                        varžybų pradžioje.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><h6> Priskyrę visus sektorius, galite pradėti vesti rezultatus.</h6>
                                                <ul>
                                                    <li>Pasirinkite sektorių, kuriam rezultatus norite vesti.
                                                    </li>
                                                    <li>Suvedę to sektoriaus rezultatus, spauskite kitas sektorius.</li>
                                                    <li>Suvedę rezultatus spauskite išsaugoti.</li>
                                                </ul>
                                            </li>
                                            <li><h6>Norint užbaigti varžybas paspauskite "užbaigti varžybas".</h6>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}

            </div>
        </div>
    </div>
{% endblock %}