{% extends 'no_nav_base.html.twig' %}
{% block title %}Organizatorius{{ parent() }}{% endblock %}
{% block body %}
    <div class="container-fluid container-index u-no-padding">
        <div class="row justify-content-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="page-name-container organizer-name-container u-no-mt ">
           <h2> {% block panelName %}Organizatoriaus panelė{% endblock %} </h2>
        </div>
        <div class="row justify-content-center panel-container">
            <div class="side-bar">
                <div class="sidebar-header">

                </div>
                <div class="list-group">
                    {% if isCreateTeam %}
                    <a href="/organizer/{{hash}}/createTeams" class="sidebar__link{{ app.request.get('_route') == 'organizerCreateTeams'? '--active' }}">1.Komandos</a>
                    {% else %}
                    <a class="sidebar__link">1.Komandos</a>
                    {% endif %}
                    {% if isTeam %}
                    <a href="/organizer/{{hash}}/teamsSectors" class="sidebar__link{{ app.request.get('_route') == 'organizerTeamsSectors'? '--active' }}">2.Sektorių pasiskirstymas</a>
                    {% else %}
                    <a class="sidebar__link">2.Sektorių pasiskirstymas</a>
                    {% endif %}
                    <a  class="sidebar__link">3.Rezultatai</a>
                    <a  class="sidebar__link">4.Užbaigti varžybas</a>

                </div>
            </div>
            <div class="col-lg-10 panel__content d-flex justify-content-center">
                        {% block panelContent %}{% endblock %}

            </div>
        </div>
    </div>
{% endblock %}