{% extends 'no_nav_base.html.twig' %}
{% block title %}Add command{{ parent() }}{% endblock %}
{% block body %}
    <div class="container-fluid container-index u-no-padding">
        <div class="row justify-content-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="page-name-container organizer-name-container u-no-mt ">
           <h2> {% block panelName %}Organizatoriaus panelė{% endblock %} </h2>
        </div>
        <div class="row justify-content-center panel-container">
            <div class="side-bar">
                <div class="sidebar-header">

                </div>
                <div class="list-group">
                    <a href="/organizer/{{hash}}" class="sidebar__link">Pradinis</a>
                    <a href="/organizer/{{hash}}/createTeams" class="sidebar__link">Komandų pridėjimas</a>
                    <a href="/organizer/{{hash}}/teamsSectors" class="sidebar__link">Pradėti varžybas</a>
                </div>
            </div>
            <div class="col-lg-10 panel__content d-flex justify-content-center">
                        {% block panelContent %}{% endblock %}

            </div>
        </div>
    </div>
{% endblock %}