{% macro printCompetitions(competitions) %}
    {% for competition in competitions %}
        <div class="row event">
        <div class="col-md-3 d-none d-md-block ">
            <div class="event__date">
                    <span class="year">
                        {{ competition['year'] }}
                    </span>
                <span class="month">
                        {{ competition['month'] }}
                        </span>
                <span class="days">
                        {{ competition['days'] }}
                        </span>
            </div>
        </div>
        <div class="col-md-9  event__data">
            <h2 class="event__name">{{ competition['name'] }}</h2>
            <div class="d-md-none">
                <i class="fa fa-calendar-alt"></i> {{ competition['year'] }} {{ competition['month'] }} {{ competition['days'] }} d.
            </div>
            {% if competition['location']!= null %}
                <div class="event__place">
                    <i class="fa  fa-map-marker-alt"></i> <span class="ml-2">{{ competition['location'] }}</span>
                </div>
            {% endif %}

            <div class="event__text">
                <a href="/results/{{ competition['id'] }}">Rezultatai</a>
                {% if competition['link'] %}
                    <a href="{{ competition['link'] }}">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                {% endif %}
            </div>
            <div class="d-md-none">
                <div class="event__line"></div>
            </div>
        </div>
        </div>
    {% endfor %}
{% endmacro %}