{% macro printCompetitions(competitions, picture, futureCompetition) %}
    {% for competition in competitions %}
        <div class="card  ">
        <div class="card-body p-0">
            <div class="row event mx-0">
                {% if picture == 1 %}
                <div class="col-md-3 d-none d-md-flex align-items-center justify-content-center  u-bg-picture">
                    {% else %}
                    <div class="col-md-3 d-none d-md-flex align-items-center justify-content-center  u-bg-main-g">
                        {% endif %}
                        <div class="event__date text-white font-weight-bold">
                    <span class="year">
                        {{ competition['year'] }}
                    </span>
                            <span class="month">
                        {{ competition['month'] }}
                        </span>
                            <span class="days">
                        {{ competition['days'] }}
                        </span>
                        </div>
                    </div>
                    <div class="col-md-9  event__data py-2">
                        <h2 class="event__name">{{ competition['name'] }}</h2>
                        <div class="d-md-none">
                            <i class="fa fa-calendar-alt"></i> {{ competition['year'] }} {{ competition['month'] }} {{ competition['days'] }}
                            d.
                        </div>
                        {% if competition['location']!= null %}
                            <div class="event__place">
                                <i class="fa  fa-map-marker-alt"></i> <span
                                        class="ml-2">{{ competition['location'] }}</span>
                            </div>
                        {% endif %}
                        <div class="event-button-container d-flex flex-wrap">
                            <div class="col-6 px-0 text-left">
                                {% if futureCompetition == 1 %}
                                {% else %}
                                <a href="/results/{{ competition['id'] }}" class="btn button">Rezultatai</a>
                                {% endif %}
                            </div>
                            {% if competition['link'] %}
                                <div class="col-6 text-right">
                                    <a href="{{ competition['link'] }}">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </div>
                                {% else %}
                                    <div class="col-6 text-right">
                                        <i class="fab fa-facebook text-white"></i>
                                    </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}